{% extends 'base.html.twig' %}

{% block title %}Observation index{% endblock %}

{% block body %}
    <a href="{{ path('home') }}">Back to home</a>
    <h1>Observation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>ObserverLocation</th>
                <th>DistanceFromTheObserver</th>
                <th>OrientationOfTheObserver</th>
                <th>LandType</th>
                <th>BirdActivity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for observation in observations %}
            <tr>
                <td>{{ observation.id }}</td>
                <td>{{ observation.observerLocation }}</td>
                <td>{{ observation.distanceFromTheObserver }}</td>
                <td>{{ observation.orientationOfTheObserver }}</td>
                <td>{{ observation.landType }}</td>
                <td>{{ observation.birdActivity }}</td>
                <td>
                    <a href="{{ path('observation_show', {'id': observation.id}) }}">show</a>
                    <a href="{{ path('observation_edit', {'id': observation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('observation_new') }}">Create new</a>
{% endblock %}
